@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: rgb(70, 70, 70);
    letter-spacing: 0.01em;

    background-color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.container {
    position: relative;

    width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}

.inner-container {
    position: relative;

    width: 1040px;
    margin: 0 auto;
}

.two-columns-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    position: relative;

    display: inline-block;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    color: black;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 11px 19px 11px 21px;

    background-color: transparent;
    border: none;
}

.btn::before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 6px;
    margin: auto;

    background-color: #f0c52e;
}

.btn:hover {
    cursor: pointer;
}

.btn:hover::before,
.btn:focus::before {
    height: 40px;
}

.btn:focus,
.btn:active {
    outline: none;
}

.btn:active {
    color: rgba(0, 0, 0, 0.3);
}

/*---titles---*/

.page-title,
.section-title,
.slide-title,
.tab-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 1.2;
    font-weight: 900;
    color: black;
}

.page-title {
    margin: 0 0 20px;
    padding: 0;
}

.section-title {
    position: relative;

    margin: 47px 0 39px;
}

.section-title::after {
    content: "";

    position: absolute;
    top: -48px;
    left: 0;

    height: 7px;
    width: 80px;

    background-color: black;
}

.form-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 900;
    color: black;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter-title {
    margin: 24px 0;
}

/* ==========================================================================
   Navigation menus, links and logotypes
   ========================================================================== */

.user-links,
.main-nav ul,
.site-nav,
.footer-social {
    list-style: none;
}

.user-links,
.site-nav {
    display: flex;
    margin: 0;
    padding: 0;
}

.user-links {
    justify-content: flex-end;
}

.site-nav li,
.user-links li {
    margin-right: 35px;
}

.site-nav li:last-child,
.user-links li:last-child {
    margin-right: 0;
}

.user-links a,
.sub-menu a {
    font: inherit;
    font-size: 15px;
    line-height: 36px;
}

.user-links a:hover,
.user-links a:focus,
.sub-menu a:hover,
.sub-menu a:focus {
    color: inherit;

    opacity: 0.6;
    outline: none;
}

.user-links a:active,
.sub-menu a:active {
    color: inherit;

    opacity: 0.3;
}

.user-links a {
    padding-left: 27px;
}

.compare-link a {
    background-image: url(../img/icons/compare.svg);
    background-repeat: no-repeat;
    background-position: bottom 4px left 5px;
}

.cart-link a {
    background-image: url(../img/icons/cart.svg);
    background-repeat: no-repeat;
    background-position: center left 5px;
}

.login-link a, .profile-link a {
    background-image: url(../img/icons/user.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.site-nav > li > a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: normal;
    font-weight: 900;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.site-nav > li > a:hover, .site-nav > li > a:focus {
    color: inherit;

    opacity: 0.6;
    outline: none;
}

.site-nav > li > a:active {
    color: inherit;

    opacity: 0.2;
}

.logo:hover img,
.logo:focus img,
.footer-copyright-logo:hover img,
.footer-copyright-logo:focus img {
    opacity: 0.6;
}

.logo:active img,
.footer-copyright-logo:active img {
    opacity: 0.3;
}

/* ==========================================================================
   Header
   ========================================================================== */

.main-header {
    box-sizing: border-box;
    width: 100%;
    margin: 39px auto 0;
    padding: 35px 0 45px;

    background-color: #f8e297;
}

.inner-page .main-header {
    margin-bottom: 34px;
}

.main-header-logo {
    position: absolute;
    left: 0;
    top: -54px;
}

.header-top {
    display: flex;
    margin-bottom: 27px;
}

.main-nav {
    width: 100%;
}

/*---site search---*/

.site-search {
    width: 440px;
}

.site-search input {
    height: 48px;
    box-sizing: border-box;
    width: 350px;
    margin: 0;
    padding: 8px 38px 8px;

    font: inherit;
    color: black;

    background-color: transparent;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-position: left 2px bottom 14px;
    border: none;
    border-bottom: 2px solid transparent;
}

.site-search input::placeholder {
    font: inherit;
    font-size: 15px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.3);
}

.site-search input:hover::placeholder,
.site-search input:focus::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.site-search input:focus {
    border-color: black;
    outline: none;
}

.search-btn {
    display: none;
    box-sizing: border-box;
    margin-left: -4px;
    padding: 3px 19px 5px;

    font: inherit;
    font-size: 15px;
    line-height: 36px;
    color: black;

    background-color: transparent;
    border: 2px solid black;
}

.site-search input:focus + .search-btn {
    display: inline-block;
}

.search-btn:hover,
.search-btn:focus {
    color: white;

    background-color: black;
    outline: none;
}

.search-btn:active {
    display: inline-block;

    color: rgba(255, 255, 255, 0.3);

    outline: none;
}

.search-btn:visited {
    outline: none;
}

/*---user links---*/

.header-user-links {
    align-self: center;
    width: 500px;
    margin: -2px 0 0 auto;
    padding: 0;
}

.header-user-links a,
.header-site-nav a {
    color: black;
}

.header-user-links .compare-link {
    margin-left: auto;
}

.header-user-links .logout-link a {
    opacity: 0.3;
    padding-left: 0;
}

.header-user-links .profile-link {
    margin-right: 19px;
}

/*-----site nav----*/

.header-site-nav .contacts-link {
    margin-left: auto;
}

.header-site-nav .delivery-link {
    margin-left: 285px;
}

.header-site-nav .catalog-link {
    position: relative;

    padding-right: 35px;
    margin-right: 0;
}

.header-site-nav .catalog-link::after {
    content: "";

    position: absolute;
    top: 1px;
    right: 4px;

    width: 25px;
    height: 25px;

    background-image: url(../img/icons/plus.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}

.sub-menu {
    position: absolute;
    left: -60px;
    z-index: 2;

    display: none;
    box-sizing: border-box;
    width: 1160px;
    padding: 20px 0 31px;

    background-color: #f8e297;
}

.sub-menu .inner-container {
    display: flex;
}

.sub-menu ul {
    padding: 0;
    margin: 0 50px 0 0;
}

.header-site-nav .catalog-link:hover .sub-menu {
    display: block;
}

/* ==========================================================================
   Slider
   ========================================================================== */

.promo {
    min-height: 540px;
    margin-bottom: 56px;

    background-image: linear-gradient(to bottom, #f8e297, #f8e297 114px, transparent 114px, transparent)
}

.promo-slider, .slide {
    position: relative;
}

.promo-slider .slider-indicators {
    position: absolute;
    right: 22px;
    top: 322px;

    margin: 0;
    padding: 0;
    max-width: 200px;

    list-style: none;
}

.promo-slider .indicator {
    position: relative;

    display: inline-block;
    margin: 0 17px 0 0;
    width: 12px;
    height: 12px;

    background-image: url(../img/icons/slider-button-empty.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

.promo-slider .indicator:last-child {
    margin-right: 0;
}

.promo-slider .indicator.active {
    background-image: url(../img/icons/slider-button.svg);
}

.slide .column-right {
    width: 500px;
    padding: 40px 0;
}

.slide .column-left {
    width: 500px;
}

.slide-title {
    position: relative;

    margin: 43px 0 19px;
}

.slide-title::before {
    content: "";

    position: absolute;
    top: -41px;
    left: 0;

    width: 100px;
    height: 7px;
    background-color: white;
}

.slide p {
    padding-right: 15px;
    margin: 0 0 42px;
}

.slide .btn {
    width: 180px;
    margin-bottom: 51px;

    text-align: center;
}

.slide-number {
    position: absolute;
    top: -10px;
    right: -10px;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    line-height: 179px;
    font-weight: 900;
    color: white;
}

.slide-product-features {
    border: 0;
    border-spacing: 0;
}

.features-value td {
    padding: 0 60px 0 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: normal;
    color: black;
}

.features-label td {
    padding: 10px 0 0;
    font: inherit;
    font-size: 13px;
    line-height: 20px;
}

.slide-1 .slide-image {
    position: relative;
    top: 3px;
    left: 30px;
}

/* ==========================================================================
   Product categories
   ========================================================================== */

.product-categories {
    margin-bottom: 81px;
}

.product-categories-list {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style: none;
}

.product-category {
    min-height: 240px;
    width: 160px;
}

.product-category .category-name {
    margin: 33px 0 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    color: black;
    text-align: left;
}

.category-icon {
    position: relative;

    display: block;
    width: 160px;
    height: 160px;

    background-color: #f8e296;
}

.category-icon svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.category-selfie-monopod svg {
    top: auto;

    margin: 0 auto;
}

.product-category a:hover .category-icon,
.product-category a:focus .category-icon {
    background-color: #f1c52e;
}

.product-category a:focus {
    outline: none;
}

.product-category a:active .category-name,
.product-category a:active svg {
    opacity: 0.2;
}

/* ==========================================================================
   Services tabs
   ========================================================================== */

.services {
    margin-bottom: 94px;
    min-height: 388px;

    background-image: linear-gradient(to top, #e5e5e5, #e5e5e5 288px, transparent 288px, transparent);
}

.services-tabs {
    position: relative;
}

.services-tabs .container {
    display: flex;
    justify-content: space-between
}

.tabs-nav {
    width: 284px;
    min-height: 318px;
    box-sizing: border-box;

    margin: 0;
    padding: 80px 0 47px;

    list-style: none;
    border-right: 7px solid black;
}

.tabs-nav-item {
    width: 160px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 24px;
    z-index: 1;
}

.tabs-nav-item-active,
.tabs-nav-item:active {
    width: 100%;

    text-align: left;
    color: #f7e184;

    background-color: black;
}

.tabs-nav-item-active::before,
.tabs-nav-item:active::before {
    display: none;
}

.tabs-content {
    width: 760px;
    padding: 59px 0 0;
}

#delivery-tab {
    background-image: url(../img/delivery.svg);
    background-repeat: no-repeat;
    background-position: right 66px top 26px;
}

#warranty-tab {
    background-image: url(../img/warranty.svg);
    background-repeat: no-repeat;
    background-position: right 60px top 4px;
}

#credit-tab {
    background-image: url(../img/credit.svg);
    background-repeat: no-repeat;
    background-position: right 60px top 0px;
}

.tab-pane {
    width: 100%;
    padding: 10px 0 20px 1px;
}

.tab-title {
    margin: 0 0 27px;
}

.tab-pane p {
    max-width: 440px;
    margin: 0;
}

/* ==========================================================================
   Product brands
   ========================================================================== */

.product-brands {
    opacity: 0.3;
    margin-bottom: 85px;
}

.product-brands-list {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.product-brands-list .product-brand {
    width: 260px;
    position: relative;
}

.product-brands-list .product-brand::after {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    display: block;
    width: 260px;
    height: 100px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.product-brand:hover::after {
    opacity: 0;
}

.dji-brand::after {
    background-image: url(../img/logo-1.jpg);
}

.sri-gadgets-brand::after {
    background-image: url(../img/logo-2.jpg);
}

.go-pro-brand::after {
    background-image: url(../img/logo-3.jpg);
}

.vive-brand::after {
    background-image: url(../img/logo-4.jpg);
}

/* ==========================================================================
   About us & Contacts
   ========================================================================== */

.about-us.column-left {
    width: 500px;
}

.contacts.column-right {
    width: 560px;
}

.about-us p, .contacts p {
    margin: 0 0 31px;
    padding-right: 15px;
}

.about-us .btn, .contacts .btn {
    width: 260px;
    padding-right: 17px;
    text-align: center;
    box-sizing: border-box;
}

.contacts-map-image {
    margin: 8px 0 60px;
}

.transport-companies-list {
    padding-left: 36px;
    margin: 70px 0 59px;
    min-height: 110px;

    list-style: none;
}

.transport-companies-list li {
    position: relative;

    margin-bottom: 10px;

    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 900;
    color: black;
    letter-spacing: 0.02em;
}

.transport-companies-list li::before {
    content: "";

    position: absolute;
    left: -35px;
    top: 12px;
    bottom: 0;

    width: 4px;
    height: 4px;
    margin: 0;

    border: 2px solid #e3e3e3;
    border-radius: 50%;
}

/* ==========================================================================
   Main footer
   ========================================================================== */

.main-footer {
    min-height: 320px;
    margin-top: 82px;
    padding: 65px 0;
    box-sizing: border-box;

    color: white;

    background-color: #464646;
}

.footer-user-links,
.footer-site-nav,
.footer-address,
.footer-phone,
.footer-social,
.footer-copyright {
    margin: 0;
    padding: 0;
}

.footer-top {
    display: flex;
    margin-bottom: 30px;
}

.main-footer-logo {
    display: block;
    width: 163px;
    height: 36px;
}

.footer-user-links {
    width: 330px;
    margin: -5px 0 0 auto;
}

.footer-site-nav {
    padding-left: 5px;
    margin-top: 2px;
}

.footer-middle {
    min-height: 30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.footer-address {
    min-height: 30px;
    width: 210px;
}

.footer-site-nav {
    min-height: 30px;
    width: 440px;
    text-align: center;
}

.footer-phone {
    min-height: 30px;
    width: 210px;

    text-align: right;
}

.footer-bottom {
    position: relative;

    display: flex;
    min-height: 35px;
}

.footer-bottom::before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 80px;
    height: 7px;

    background-color: #ffc600;
    margin: auto 0;
}

.footer-social {
    align-self: center;

    display: flex;
    min-height: 35px;
    margin: 0 auto;
}

.footer-social li {
    width: 35px;
    height: 35px;
    margin-right: 19px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-copyright {
    right: 0;
    height: 35px;
    position: absolute;
    width: 27px;
}

.inner-page .main-footer {
    margin-top: 0;
}

.site-nav.footer-site-nav a,
.footer-user-links a,
.phone-link {
    color: white;
}

.footer-user-links .login-link a {
    background-image: url(../img/icons/user-yellow.svg);
}

.footer-user-links .logout-link a {
    padding-left: 27px;

    background-image: url(../img/icons/user-yellow.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.footer-user-links .compare-link a {
    background-image: url(../img/icons/compare-yellow.svg);
}

.footer-user-links .cart-link a {
    background-image: url(../img/icons/cart-yellow.svg);
}

.footer-social a {
    display: inline-block;
    width: 35px;
    height: 35px;

    opacity: 0.3;

    background-repeat: no-repeat;
    background-position: center center;
}

.footer-social a:hover,
.footer-social a:focus {
    opacity: 0.6;
}

.footer-social a:active {
    opacity: 0.1;
}

.social-fb {
    background-image: url(../img/icons/fb.svg);
}

.social-vk {
    background-image: url(../img/icons/vk.svg);
}

.social-insta {
    background-image: url(../img/icons/twitter.svg);
}

/* ==========================================================================
   Modals
   ========================================================================== */

.modal {
    position: fixed;

    color: black;

    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.modal-close {
    position: absolute;
    right: 23px;
    top: 23px;

    width: 60px;
    height: 60px;

    background-color: transparent;
    background-image: url(../img/icons/modal-close.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    opacity: 0.5;

    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
    cursor: pointer;
    outline: none;
}

.modal-close:active {
    opacity: 0.3;
    outline: none;
}

/*----contact-modal----*/

.modal-contact {
    left: 0;
    right: 0;
    top: 120px;
    z-index: 1000;

    display: none;

    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    padding: 90px 100px 85px;
}

.contact-form p {
    margin: 0 0 30px;
}

.contact-form input,
.contact-form textarea {
    box-sizing: border-box;
    padding: 16px 20px;

    font: inherit;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(70, 70, 70, 0.4);
    letter-spacing: 0;

    background-color: #f2f2f2;
    border: 2px solid transparent;
}

.contact-form input {
    height: 50px;
    width: 360px;
}

.contact-form textarea {
    width: 100%;
    height: 155px;
}

.contact-form input:hover,
.contact-form textarea:hover {
    background-color: #ebebeb;
}

.contact-form input:focus,
.contact-form textarea:focus {
    color: rgba(70, 70, 70, 1);

    background-color: white;
    border-color: #f7e296;
    outline: none;
}

.contact-form input:invalid {
    background-color: #f6dada;
}

.contact-form label {
    display: inline-block;
    margin-bottom: 2px;

    font: inherit;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 900;
}

.inputs-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-left, .input-right {
    width: 360px;
}

.send-btn {
    width: 200px;
    box-sizing: border-box;
}

/*----modal-map----*/

.modal-map {
    left: 0;
    right: 0;
    top: 120px;
    z-index: 1000;

    display: none;

    width: 960px;
    height: 559px;
    margin: 0 auto;
}

.modal-map p {
    margin: 0;
}

.modal-map-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1
}

.modal-map iframe {
    border: 0;
}

/* ==========================================================================
   Breadcrumbs
   ========================================================================== */

.breadcrumbs {
    display: flex;
    margin: -6px 0 0;
    padding: 0;
    min-height: 20px;

    list-style: none;
}

.breadcrumbs-item {
    position: relative;

    margin-right: 37px;
}

.breadcrumbs-item::after {
    content: "";

    position: absolute;
    top: 15px;
    right: -20px;

    width: 5px;
    height: 8px;

    background-image: url(../img/icons/nav-arrow.svg);
    background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
    display: none;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-item a {
    font: inherit;
    font-size: 14px;
    line-height: 36px;
    color: black;

    opacity: 0.3;
}

.breadcrumbs-item a:not(.disabled):hover,
.breadcrumbs-item a:not(.disabled):focus {
    opacity: 0.6;
}

.breadcrumbs-item a:not(.disabled):active {
    opacity: 0.1;
}

/* ==========================================================================
   Catalog filters
   ========================================================================== */

.filters {
    width: 201px;
    margin-left: 59px;
}

.filters-bg {
    position: absolute;
    top: 0;
    right: 840px;
    z-index: -1;

    width: 9000px;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.08);
}

.filter-form {
    margin-top: 94px;
}

.filter-form fieldset {
    border: 0;
    padding: 0;
    margin: 0 0 30px;
}

.filter-name {
    position: relative;

    width: 100%;
    margin: 0 0 20px;
    padding-top: 10px;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: normal;
    font-weight: 900;
    color: black;

    border-top: 2px solid black;
}

.filter-options-list,
.sort-options-list {
    list-style: none;
}

/*----price-range-slider----*/

.price-range-input-wrapper {
    min-height: 46px;
    padding-top: 1px;
    margin-bottom: -7px;
}

.range-slider {
    width: 100%;
    height: 2px;
    margin: 16px 0 14px;

    background-color: #dbdbdb;
}

.range-slider-active {
    position: relative;

    height: 2px;
    width: 125px;

    background-color: #92c72f;
}

.range-slider-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;

    display: block;
    width: 27px;
    height: 27px;

    text-align: center;

    background-image: url(../img/filter-button.svg);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.range-slider-handle:active {
    background-size: 23px;
}

.left-handle {
    left: -10px;
}

.right-handle {
    right: -5px;
}

.price-range-value {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;

    width: 50px;
    margin: 0 auto;

    line-height: 22px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0;
    font-size: 13px;
    text-align: center;
    color: #ccc;
    white-space: nowrap;
}

.filters label {
    font: inherit;
    font-size: 14px;
    line-height: 40px;
    color: black;
}

.filter-btn,
.add-to-cart-btn {
    box-sizing: border-box;
    min-width: 201px;
}

/*--------------forms-----------------*/

.filter-options-list {
    padding: 0;
    margin: 0 0;
}

.filter-options-list label {
    position: relative;

    padding: 5px 0 5px 40px;

    cursor: pointer;
}

.filters input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 27px;
    height: 23px;
    margin: auto 0;
}

.filters input[type="radio"] + .radio-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;
}

.filters input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url(../img/icons/checkbox-on.svg);
    background-position: center left;
    background-repeat: no-repeat;
    outline: none;
}

.filters input[type="checkbox"]:not(:checked) + .checkbox-indicator {
    background-image: url(../img/icons/checkbox-off.svg);
    background-position: center left;
    background-repeat: no-repeat;
}

.filters input[type="radio"]:checked + .radio-indicator {
    background-image: url(../img/icons/radio-on.svg);
    background-position: center left;
    background-repeat: no-repeat;
}

.filters input[type="radio"]:not(:checked) + .radio-indicator {
    background-image: url(../img/icons/radio-off.svg);
    background-position: center left;
    background-repeat: no-repeat;
}

.filter-options-list label:hover .radio-indicator,
.filter-options-list label:hover .checkbox-indicator {
    opacity: 0.6;
}

/* ==========================================================================
   Catalog sort
   ========================================================================== */

.sort {
    width: 100%;
    height: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sort-form {
    display: flex;
    margin-left: 56px;
    width: 100%;
}

.sort-options-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/*----sort by type----*/

.sort-options-list.sort-type li {
    margin-right: 30px;
}

.sort-type label {
    font: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: black;

    opacity: 0.3;

    cursor: pointer;
}

.sort label:hover {
    opacity: 0.6;
}

.sort-type label:active,
.sort-type input[type="radio"]:checked + label {
    opacity: 1;
}

/*----sort by order----*/

.sort-order {
    margin-left: auto;
    width: 40px;
    justify-content: space-between;
}

label.sort-arrow {
    display: block;
    width: 11px;
    height: 10px;

    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

.sort-arrow.arrow-bottom {
    background-image: url(../img/icons/icon-down-dir.svg);
}

.sort-arrow.arrow-top {
    background-image: url(../img/icons/icon-up-dir.svg);
}

.sort-order input:checked + .sort-arrow{
    opacity: 0.2;
}

.sort-arrow:hover,
.sort-arrow:focus {
    opacity: 0.4;
}

.sort-arrow:active {
    opacity: 1;
}

/* ==========================================================================
   Catalog items
   ========================================================================== */

.page-header {
    margin: 0 0 40px;
    padding: 0;
}

.catalog-wrapper {
    overflow-x: hidden;
    position: relative;
}

.catalog-top {
    background-color: rgba(0, 0, 0, 0.08);
    height: 70px;
    position: absolute;
    width: 100%;
}

.catalog-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.catalog {
    min-height: 1185px;
    width: 760px;
    padding-bottom: 72px;
}

.catalog-items-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 460px;
    margin: 0 40px 46px 0;
}

.catalog-item.new-item::after {
    content: "NEW";

    position: absolute;
    top: 28px;
    right: 27px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #d0d0d0;
    letter-spacing: 0.03em;

    border-radius: 50%;
    border: 2px solid #d5d5d5;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item p {
    margin: 0;
}

.catalog-items-list {
    list-style: none;
}

.item-name {
    order: 1;

    margin: 23px 0 0;
    padding-right: 90px;

    line-height: 20px;
}

.item-name a {
    max-width: 285px;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    color: black;
}

.item-price {
    position: absolute;
    right: 0;
    top: 414px;
    order: 2;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
}

.item-photo {
    order: 0;
    position: relative;
}

.item-actions {
    position: absolute;
    left: 0;
    right: 0;
    top: 175px;

    margin: 0 auto;

    text-align: center;

    visibility: hidden;
}

.catalog-item:hover .item-photo {
    z-index: -1;
    opacity: 0.5;
}

.catalog-item:hover .item-actions {
    visibility: visible;
}

.item-compare {
    font: inherit;
    font-size: 13px;
    color: black;
    line-height: 36px;

    opacity: 0.5;
}

.item-compare:hover,
.item-compare:focus {
    opacity: 1;
}

.item-compare:active {
    opacity: 0.2;
}

/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
    position: relative;

    display: flex;
    min-height: 70px;
    margin-top: -11px;

    background-color: #ebebeb;
}

.pagination-list {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    min-height: 35px;

    list-style: none;
}

.pagination-item {
    margin-right: 20px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    padding: 2px 5px;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 900;
    color: black;
    letter-spacing: 0.2em;

    opacity: 0.3;
}

.pagination-item:not(.pagination-item-current) a:hover,
.pagination-item:not(.pagination-item-current) a:focus {
    opacity: 0.6;
}

.pagination-item-current a,
.pagination-item:not(.pagination-item-current) a:active {
    opacity: 1;
}

.pagination-btn {
    position: absolute;
    top: 0;
    height: 70px;
    padding: 10px 25px;
}

.pagination-btn::before {
    display: none;
}

.pagination-btn-prev {
    left: 0;
}

.pagination-btn-next {
    right: 0;
}

.pagination-btn:hover,
.pagination-btn:focus {
    background-color: #d9d9d9;
}