@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-light-webfont.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    min-width: 1160px;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: rgb(70, 70, 70);
    letter-spacing: 0.01em;

    background-color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;

    -webkit-transition: 0.2s linear opacity;

    -o-transition: 0.2s linear opacity;

    transition: 0.2s linear opacity;
}

img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.container {
    position: relative;

    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.inner-container {
    position: relative;

    width: 1040px;
    margin: 0 auto;
}

.two-columns-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.btn {
    position: relative;

    display: inline-block;
    vertical-align: middle;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    color: black;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 11px 19px 11px 21px;

    background-color: transparent;
    border: none;
}

.btn::before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 6px;
    margin: auto;

    background-color: #f0c52e;

    -webkit-transition: 0.16s linear all;

    -o-transition: 0.16s linear all;

    transition: 0.16s linear all;
}

.btn:hover {
    cursor: pointer;
}

.btn:hover::before,
.btn:focus::before {
    height: 100%;
}

.btn:focus,
.btn:active {
    outline: none;
}

.btn:active {
    color: rgba(0, 0, 0, 0.3);
}

/*---titles---*/

.page-title,
.section-title,
.slide-title,
.tab-title {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    line-height: 1.2;
    font-weight: 900;
    color: black;
}

.page-title {
    margin: 0 0 20px;
    padding: 0;
}

.section-title {
    position: relative;

    margin: 47px 0 39px;
}

.section-title::after {
    content: "";

    position: absolute;
    top: -48px;
    left: 0;

    width: 80px;
    height: 7px;

    background-color: black;
}

.form-title {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 900;
    color: black;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter-title {
    margin: 24px 0;
}

/* ==========================================================================
   Navigation menus, links and logotypes
   ========================================================================== */

.user-links,
.main-nav ul,
.site-nav,
.footer-social {
    list-style: none;
}

.user-links,
.site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.user-links {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.site-nav li,
.user-links li {
    margin-right: 35px;
}

.site-nav li:last-child,
.user-links li:last-child {
    margin-right: 0;
}

.user-links a,
.sub-menu a {
    font: inherit;
    font-size: 15px;
    line-height: 36px;
}

.user-links a:hover,
.user-links a:focus,
.sub-menu a:hover,
.sub-menu a:focus {
    color: inherit;

    opacity: 0.6;
    outline: none;
}

.user-links a:active,
.sub-menu a:active {
    color: inherit;

    opacity: 0.3;
}

.user-links a {
    padding-left: 27px;
    background-repeat: no-repeat;
}

.compare-link a {
    background-image: url(../img/icons/compare.svg);
    background-position: bottom 4px left 5px;
}

.cart-link a {
    background-image: url(../img/icons/cart.svg);
    background-position: center left 5px;
}

.login-link a,
.profile-link a,
.footer-logout-link a {
    background-image: url(../img/icons/user.svg);
    background-position: center left;
}

.site-nav a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: normal;
    font-weight: 900;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.site-nav a:hover,
.site-nav a:focus {
    color: inherit;

    opacity: 0.6;
    outline: none;
}

.site-nav a:active {
    color: inherit;

    opacity: 0.2;
}

.logo img,
.footer-copyright-logo img {
    -webkit-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
}

.logo:hover img,
.logo:focus img,
.footer-copyright-logo:hover img,
.footer-copyright-logo:focus img {
    opacity: 0.6;
}

.logo:active img,
.footer-copyright-logo:active img {
    opacity: 0.3;
}

/* ==========================================================================
   Header
   ========================================================================== */

.main-header {
    width: 100%;
    margin: 39px auto 0;
    padding: 35px 0 45px;

    background-color: #f8e297;
}

.inner-page .main-header {
    margin-bottom: 34px;
}

.main-header-logo {
    position: absolute;
    left: 0;
    top: -54px;
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 27px;
}

.main-nav {
    width: 100%;
}

/*---site search---*/

.site-search {
    width: 440px;
}

.site-search input {
    width: 350px;
    height: 48px;
    margin: 0;
    padding: 8px 38px 8px;

    font: inherit;
    color: black;

    background-color: transparent;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-position: left 2px bottom 14px;
    border: none;
    border-bottom: 2px solid transparent;
}

.site-search input::-webkit-input-placeholder {
    font: inherit;
    font-size: 15px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.3);
}

.site-search input:-ms-input-placeholder {
    font: inherit;
    font-size: 15px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.3);
}

.site-search input::placeholder {
    font: inherit;
    font-size: 15px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.3);
}

.site-search input:hover::-webkit-input-placeholder,
.site-search input:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.site-search input:hover:-ms-input-placeholder,
.site-search input:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.site-search input:hover::placeholder,
.site-search input:focus::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.site-search input:focus {
    border-color: black;
    outline: none;
}

.search-btn {
    display: none;
    margin-left: -4px;
    padding: 3px 19px 5px;

    font: inherit;
    font-size: 15px;
    line-height: 36px;
    color: black;

    background-color: transparent;
    border: 2px solid black;

    cursor: pointer;
}

.site-search input:focus + .search-btn {
    display: inline-block;
}

.search-btn:hover,
.search-btn:focus {
    color: white;

    background-color: black;
    outline: none;
}

.search-btn:active {
    display: inline-block;

    color: rgba(255, 255, 255, 0.3);

    outline: none;
}

.search-btn:visited {
    outline: none;
}

/*---user links---*/

.header-user-links {
    -ms-flex-item-align: center;
    align-self: center;
    width: 500px;
    margin: -2px 0 0 auto;
    padding: 0;
}

.header-user-links a,
.header-site-nav a {
    color: black;
}

.header-compare-link {
    margin-left: auto;
}

.header-logout-link a {
    opacity: 0.3;
    padding-left: 0;
}

.header-user-links .header-profile-link {
    margin-right: 19px;
}

/*-----site nav----*/

.header-contacts-link {
    margin-left: auto;
}

.header-delivery-link {
    margin-left: 285px;
}

.header-site-nav .header-catalog-link {
    position: relative;

    margin-right: 0;
    padding-right: 35px;
}

.header-site-nav .catalog-link::after {
    content: "";

    position: absolute;
    top: 1px;
    right: 4px;

    width: 25px;
    height: 25px;

    background-image: url(../img/icons/plus.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}

.sub-menu {
    position: absolute;
    left: -60px;
    z-index: 3;

    display: none;
    width: 1160px;
    padding: 20px 0 31px;

    background-color: #f8e297;
}

.sub-menu .inner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sub-menu ul {
    margin: 0 50px 0 0;
    padding: 0;
}

.sub-menu a {
    font: inherit;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: none;
}

.sub-menu-link:hover .sub-menu {
    display: block;
}

/* ==========================================================================
   Slider
   ========================================================================== */

.promo {
    min-height: 540px;
    margin-bottom: 56px;

    background-image: -webkit-linear-gradient(top, #f8e297, #f8e297 114px, transparent 114px, transparent);

    background-image: -o-linear-gradient(top, #f8e297, #f8e297 114px, transparent 114px, transparent);

    background-image: linear-gradient(to bottom, #f8e297, #f8e297 114px, transparent 114px, transparent)
}

.promo-slider,
.slide,
.slide-image {
    position: relative;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.promo-slider .slider-indicators {
    position: absolute;
    right: 22px;
    top: 320px;
    z-index: 2;

    max-width: 200px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.promo-slider .indicator {
    position: relative;

    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 17px 0 0;
    vertical-align: middle;

    background-image: url(../img/icons/slider-button-empty.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

.promo-slider .indicator:last-child {
    margin-right: 0;
}

.promo-slider .indicator.active {
    background-image: url(../img/icons/slider-button.svg);
}

.slide .column-right {
    width: 500px;
    padding: 40px 0;
}

.slide .column-left {
    width: 500px;
}

.slide-number {
    position: absolute;
    top: -10px;
    right: -10px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 179px;
    line-height: 179px;
    font-weight: 900;
    color: white;
}

.slide-title {
    position: relative;

    margin: 43px 0 19px;
}

.slide-title::before {
    content: "";

    position: absolute;
    top: -41px;
    left: 0;

    width: 100px;
    height: 7px;

    background-color: white;
}

.slide p {
    max-height: 90px;
    padding-right: 15px;
    margin: 0 0 42px;

    overflow: hidden;
}

.slide .btn {
    width: 180px;
    margin-bottom: 51px;

    text-align: center;
}

.features-table-wrapper {
    max-height: 75px;
    max-width: 500px;
    overflow: hidden;
}

.slide-product-features {
    border: 0;
    border-spacing: 0;
}

.features-value td {
    padding: 0 70px 0 0;

    overflow: hidden;
    white-space: nowrap;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    line-height: normal;
    color: black;
}

.features-label td {
    padding: 10px 0 0;

    font: inherit;
    font-size: 13px;
    line-height: 20px;
}

.slide-1 .slide-image {
    top: 3px;
    left: 30px;
}

.slide-2 .slide-image {
    top: 20px;
    left: 55px;
}

.slide-3 .slide-image {
    top: 70px;
    left: -27px;
}

/* ==========================================================================
   Product categories
   ========================================================================== */

.product-categories {
    margin-bottom: 21px;
}

.product-categories-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.product-category {
    width: 160px;
    min-height: 240px;
    margin-bottom: 60px;
    margin-right: 40px;
}

.product-category:nth-child(6n),
.product-category:last-child {
    margin-right: 0;
}

.product-category .category-name {
    margin: 33px 0 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    color: black;
    text-align: left;
}

.category-icon {
    position: relative;

    display: block;
    width: 160px;
    height: 160px;

    background-color: #f8e296;

    -webkit-transition: 0.2s linear background;

    -o-transition: 0.2s linear background;

    transition: 0.2s linear background;
}

.category-icon svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.category-selfie-monopod svg {
    top: auto;

    margin: 0 auto;
}

.product-category-link:hover .category-icon,
.product-category-link:focus .category-icon {
    background-color: #f1c52e;
}

.product-category-link:focus {
    outline: none;
}

.product-category-link:active .category-name,
.product-category-link:active svg {
    opacity: 0.2;
}

/* ==========================================================================
   Services tabs
   ========================================================================== */

.services {
    margin-bottom: 94px;
    min-height: 388px;

    background-image: -webkit-linear-gradient(bottom, #e5e5e5, #e5e5e5 288px, transparent 288px, transparent);

    background-image: -o-linear-gradient(bottom, #e5e5e5, #e5e5e5 288px, transparent 288px, transparent);

    background-image: linear-gradient(to top, #e5e5e5, #e5e5e5 288px, transparent 288px, transparent);
}

.services-tabs {
    position: relative;
}

.services-tabs .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.tabs-nav {
    width: 284px;
    min-height: 318px;
    margin: 0;
    padding: 80px 0 47px;

    border-right: 7px solid black;

    list-style: none;
}

.tabs-nav-item {
    z-index: 1;

    width: 160px;
    margin-bottom: 24px;

    text-align: center;

    -webkit-transition: 0.2s linear width, 0.15s linear color;

    -o-transition: 0.2s linear width, 0.15s linear color;

    transition: 0.2s linear width, 0.15s linear color;
}

.tabs-nav-item.active,
.tabs-nav-item:active {
    width: 100%;

    text-align: left;
    color: #f7e184;

    background-color: black;
}

.tabs-nav-item.active::before,
.tabs-nav-item:active::before {
    display: none;
}

.tabs-content {
    width: 760px;
    padding: 59px 0 0;
}

.tab-pane {
    display: none;
    width: 100%;
    padding: 10px 0 20px 1px;

    background-repeat: no-repeat;
}

.tab-pane.active {
    display: block;
}

.delivery-tab {
    background-image: url(../img/delivery.svg);
    background-position: right 66px top 26px;
}

.warranty-tab {
    background-image: url(../img/warranty.svg);
    background-position: right 60px top 4px;
}

.credit-tab {
    background-image: url(../img/credit.svg);
    background-position: right 60px top 0px;
}

.tab-title {
    margin: 0 0 27px;
}

.tab-pane p {
    max-width: 440px;
    max-height: 120px;
    margin: 0;

    overflow: hidden;
}

/* ==========================================================================
   Product brands
   ========================================================================== */

.product-brands {
    margin-bottom: 85px;
}

.product-brands-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 100px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.product-brand {
    position: relative;

    width: 260px;
    margin-right: 40px;
}

.product-brand:nth-child(4n),
.product-brand:last-child {
    margin-right: 0;
}

.product-brand::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 260px;
    height: 100px;

    background-repeat: no-repeat;
    background-position: 0 0;

    -webkit-transition: 0.2s linear opacity;

    -o-transition: 0.2s linear opacity;

    transition: 0.2s linear opacity;
}

.product-brand:hover::after {
    opacity: 0;
}

.dji-brand::after {
    background-image: url(../img/logo-1.jpg);
}

.sri-gadgets-brand::after {
    background-image: url(../img/logo-2.jpg);
}

.go-pro-brand::after {
    background-image: url(../img/logo-3.jpg);
}

.vive-brand::after {
    background-image: url(../img/logo-4.jpg);
}

/* ==========================================================================
   About us & Contacts
   ========================================================================== */

.about-us.column-left {
    width: 500px;
}

.contacts.column-right {
    width: 560px;
}

.about-us p,
.contacts p {
    margin: 0 0 31px;
    padding-right: 15px;
}

.about-us .btn,
.contacts .btn {
    width: 260px;
    padding-right: 17px;

    text-align: center;
}

.contacts-map-image {
    margin: 8px 0 60px;

    cursor: pointer;
}

.transport-companies-list {
    min-height: 110px;
    margin: 70px 0 59px;
    padding-left: 36px;

    list-style: none;
}

.transport-companies-list li {
    position: relative;

    margin-bottom: 10px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 900;
    color: black;
    letter-spacing: 0.02em;
}

.transport-companies-list li::before {
    content: "";

    position: absolute;
    left: -35px;
    top: 12px;
    bottom: 0;

    width: 6px;
    height: 6px;
    margin: 0;

    border: 2px solid #e3e3e3;
    border-radius: 50%;
}

/* ==========================================================================
   Main footer
   ========================================================================== */

.main-footer {
    min-height: 320px;
    margin-top: 82px;
    padding: 65px 0;

    color: white;

    background-color: #464646;
}

.footer-user-links,
.footer-site-nav,
.footer-address,
.footer-phone,
.footer-social,
.footer-copyright {
    margin: 0;
    padding: 0;
}

.footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}

.main-footer-logo {
    display: block;
    width: 163px;
    height: 36px;
}

.footer-user-links {
    margin: -5px 0 0 auto;
}

.footer-site-nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 440px;
    margin-top: 2px;

    text-align: center;
}

.footer-site-nav li:nth-child(3n) {
    margin-right: 0;
}

.footer-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 30px;
    margin-bottom: 60px;
}

.footer-address {
    width: 210px;
}

.footer-phone {
    width: 210px;

    text-align: right;
}

.footer-bottom {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    min-height: 35px;
}

.footer-bottom::before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 80px;
    height: 7px;
    margin: auto 0;

    background-color: #ffc600;
}

.footer-social {
    -ms-flex-item-align: center;
    align-self: center;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    min-height: 35px;
    margin: 0 auto;
}

.footer-social li {
    width: 35px;
    height: 35px;
    margin-right: 19px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-copyright {
    position: absolute;
    right: 0;
    height: 35px;

    width: 27px;
}

.inner-page .main-footer {
    margin-top: 0;
}

.site-nav.footer-site-nav a,
.footer-user-links a,
.phone-link {
    color: white;
}

.footer-login-link a {
    background-image: url(../img/icons/user-yellow.svg);
}

.footer-logout-link a {
    background-image: url(../img/icons/user-yellow.svg);
}

.footer-compare-link a {
    background-image: url(../img/icons/compare-yellow.svg);
}

.footer-cart-link a {
    background-image: url(../img/icons/cart-yellow.svg);
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-social a {
    display: block;
    width: 35px;
    height: 35px;

    background-repeat: no-repeat;
    background-position: center center;

    opacity: 0.3;
}

.footer-social a:hover,
.footer-social a:focus {
    opacity: 0.6;
}

.footer-social a:active {
    opacity: 0.1;
}

.social-fb {
    background-image: url(../img/icons/fb.svg);
}

.social-vk {
    background-image: url(../img/icons/vk.svg);
}

.social-insta {
    background-image: url(../img/icons/twitter.svg);
}

/* ==========================================================================
   Modals
   ========================================================================== */

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.modal {
    position: fixed;

    color: black;

    background-color: white;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.modal-close {
    position: absolute;
    right: 23px;
    top: 23px;

    width: 60px;
    height: 60px;

    background-color: transparent;
    background-image: url(../img/icons/modal-close.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    opacity: 0.5;

    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    outline: none;
    opacity: 1;

    cursor: pointer;
}

.modal-close:active {
    outline: none;
    opacity: 0.3;
}

/*----contact-modal----*/

.modal-contact {
    left: 0;
    right: 0;
    top: 120px;
    z-index: 1000;

    display: none;
    width: 960px;
    margin: 0 auto;
    padding: 90px 100px 85px;
}

.contact-form p {
    margin: 0 0 30px;
}

.contact-form input,
.contact-form textarea {
    padding: 16px 20px;

    font: inherit;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #bababa;
    letter-spacing: 0;

    background-color: #f2f2f2;
    border: 2px solid transparent;
}

.contact-form ::-webkit-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.contact-form :-ms-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.contact-form ::placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.contact-form input {
    width: 360px;
    height: 50px;
}

.contact-form textarea {
    width: 100%;
    height: 155px;
}

.contact-form input:hover,
.contact-form textarea:hover {
    background-color: #ebebeb;
}

.contact-form input:focus,
.contact-form textarea:focus {
    color: black;

    background-color: white;
    border-color: #f7e296;
    outline: none;
}

.contact-form input:invalid {
    background-color: #f6dada;
    border-color: transparent;
}

.contact-form label {
    display: inline-block;
    margin-bottom: 2px;
    vertical-align: middle;

    font: inherit;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 900;
}

.inputs-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.input-left,
.input-right {
    width: 360px;
}

.send-btn {
    width: 200px;
}

/*----modal-map----*/

.modal-map {
    left: 0;
    right: 0;
    top: 120px;
    z-index: 1000;

    display: none;
    width: 960px;
    height: 559px;
    margin: 0 auto;
}

.modal-map p {
    margin: 0;
}

.modal-map-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1
}

.modal-map iframe {
    border: 0;
}

.modal-show {
    display: block;

    -webkit-animation: 0.6s bounce;

    animation: 0.6s bounce;
}

.modal-error{
    -webkit-animation: 0.6s shake;

    animation: 0.6s shake;
}

/* ==========================================================================
   Breadcrumbs
   ========================================================================== */

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 20px;
    margin: -6px 0 0;
    padding: 0;

    list-style: none;
}

.breadcrumbs-item {
    position: relative;

    margin-right: 37px;
}

.breadcrumbs-item::after {
    content: "";

    position: absolute;
    top: 15px;
    right: -20px;

    width: 5px;
    height: 8px;

    background-image: url(../img/icons/nav-arrow.svg);
    background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
    display: none;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-item a {
    font: inherit;
    font-size: 14px;
    line-height: 36px;
    color: black;

    opacity: 0.3;
}

.breadcrumbs-item a:not(.disabled):hover,
.breadcrumbs-item a:not(.disabled):focus {
    opacity: 0.6;
}

.breadcrumbs-item a:not(.disabled):active {
    opacity: 0.1;
}

/* ==========================================================================
   Catalog filters
   ========================================================================== */

.filters {
    width: 201px;
    margin-left: 59px;
}

.filters-bg {
    position: absolute;
    top: 0;
    right: 852px;
    z-index: -1;

    width: 9000px;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.08);
}

.filter-form {
    margin-top: 94px;
}

.filter-form fieldset {
    margin: 0 0 30px;
    padding: 0;

    border: 0;
}

.filter-name {
    position: relative;

    width: 100%;
    margin: 0 0 20px;
    padding-top: 10px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: normal;
    font-weight: 900;
    color: black;

    border-top: 2px solid black;
}

.filter-options-list,
.sort-options-list {
    list-style: none;
}

/*----price-range-slider----*/

.price-range-input-wrapper {
    min-height: 46px;
    margin-bottom: -7px;
    padding-top: 1px;
}

.range-slider {
    width: 100%;
    height: 2px;
    margin: 16px 0 14px;

    background-color: #dbdbdb;
}

.range-slider-active {
    position: relative;

    height: 2px;
    width: 125px;

    background-color: #92c72f;
}

.range-slider-handle {
    position: absolute;
    top: 0;
    bottom: 0;

    display: block;
    width: 27px;
    height: 27px;
    margin: auto 0;

    text-align: center;

    background-image: url(../img/filter-button.svg);
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

.range-slider-handle:active {
    background-size: 23px;
    outline: none;
}

.range-slider-handle:visited {
    outline: none;
}

.left-handle {
    left: -10px;
}

.right-handle {
    right: -5px;
}

.price-range-value {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;

    width: 50px;
    margin: 0 auto;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    color: #ccc;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
}

.filter-btn,
.add-to-cart-btn {
    min-width: 201px;
}

/*--------------forms-----------------*/

.filter-options-list {
    margin: 0 0;
    padding: 0;
}

.filter-option-label {
    position: relative;

    padding: 5px 0 5px 40px;

    font: inherit;
    font-size: 14px;
    line-height: 40px;
    color: black;

    cursor: pointer;
}

.filter-option-label:focus {
    outline: none;
}

.checkbox-indicator,
.radio-indicator {
    -webkit-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

.filters input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 27px;
    height: 23px;
    margin: auto 0;
}

.filters input[type="radio"] + .radio-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;
}

.filters input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url(../img/icons/checkbox-on.svg);
    background-position: center left;
    background-repeat: no-repeat;
    outline: none;
}

.filters input[type="checkbox"]:not(:checked) + .checkbox-indicator {
    background-image: url(../img/icons/checkbox-off.svg);
    background-position: center left;
    background-repeat: no-repeat;
}

.filters input[type="radio"]:checked + .radio-indicator {
    background-image: url(../img/icons/radio-on.svg);
    background-position: center left;
    background-repeat: no-repeat;
}

.filters input[type="radio"]:not(:checked) + .radio-indicator {
    background-image: url(../img/icons/radio-off.svg);
    background-position: center left;
    background-repeat: no-repeat;
}

.filter-option-label:hover .radio-indicator,
.filter-option-label:hover .checkbox-indicator,
.filter-option-label:focus .radio-indicator,
.filter-option-label:focus .checkbox-indicator,
.filter-input:focus + .checkbox-indicator,
.filter-input:focus + .radio-indicator {
    opacity: 0.6;
}

.filters input[type="checkbox"]:checked:active + .checkbox-indicator {
    background-image: url(../img/icons/checkbox-off.svg);
    opacity: 1;
}

.filters input[type="checkbox"]:not(checked):active + .checkbox-indicator {
    background-image: url(../img/icons/checkbox-on.svg);
    opacity: 1;
}

.filters input[type="radio"]:checked:active + .radio-indicator {
    background-image: url(../img/icons/radio-off.svg);
    opacity: 1;
}

.filters input[type="radio"]:not(checked):active + .radio-indicator {
    background-image: url(../img/icons/radio-on.svg);
    opacity: 1;
}

/* ==========================================================================
   Catalog sort
   ========================================================================== */

.sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 70px;
}

.sort-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 56px;
}

.sort-options-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*----sort by type----*/

.sort-options-list.sort-type li {
    margin-right: 30px;
}

.sort-type label {
    font: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: black;

    opacity: 0.3;

    -webkit-transition: 0.1s linear opacity;

    -o-transition: 0.1s linear opacity;

    transition: 0.1s linear opacity;

    cursor: pointer;
}

.sort-type label:hover {
    opacity: 0.6;
}

.sort-type label:active,
.sort-type input[type="radio"]:checked + label {
    opacity: 1;
}

.sort-input:focus + label {
    outline: -webkit-focus-ring-color auto 5px;
}

/*----sort by order----*/

.sort-order {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 44px;
    margin-left: auto;
}

label.sort-arrow {
    display: block;
    width: 11px;
    height: 10px;
    padding: 10px 3px;

    background-repeat: no-repeat;
    background-position: center center;

    -webkit-transition: 0.1s linear opacity;

    -o-transition: 0.1s linear opacity;

    transition: 0.1s linear opacity;

    cursor: pointer;
}

.sort-arrow.arrow-bottom {
    padding-right: 0;
    background-image: url(../img/icons/icon-down-dir.svg);
}

.sort-arrow.arrow-top {
    background-image: url(../img/icons/icon-up-dir.svg);
}

.sort-order input:checked + .sort-arrow {
    opacity: 0.2;
}

.sort-arrow:hover,
.sort-order input:checked + .sort-arrow:hover,
.sort-order input:checked + .sort-arrow:focus,
.sort-arrow:focus {
    opacity: 0.4;
}

.sort-arrow:active {
    opacity: 1;
}

/* ==========================================================================
   Catalog items
   ========================================================================== */

.page-header {
    margin: 0 0 39px;
    padding: 0;
}

.catalog-wrapper {
    position: relative;

    overflow-x: hidden;
}

.catalog-top {
    position: absolute;

    width: 100%;
    height: 70px;

    background-color: rgba(0, 0, 0, 0.08);
}

.catalog-wrapper .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog {
    width: 760px;
    min-height: 1185px;
    padding-bottom: 72px;
}

.catalog-items-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-item {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 360px;
    min-height: 460px;
    margin: 0 40px 46px 0;

    cursor: pointer;
}

.catalog-item.new-item::after {
    content: "New";

    position: absolute;
    top: 28px;
    right: 27px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 56px;
    height: 56px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #d0d0d0;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    border-radius: 50%;
    border: 2px solid #d5d5d5;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item p {
    margin: 0;
}

.item-name {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 23px 0 0;
    padding-right: 90px;

    line-height: 20px;
}

.item-name a {
    max-width: 285px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    color: black;
}

.item-price {
    position: absolute;
    right: 0;
    top: 414px;

    -webkit-box-ordinal-group: 3;

    -ms-flex-order: 2;

    order: 2;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: normal;
}

.item-photo {
    position: relative;

    -webkit-box-ordinal-group: 1;

    -ms-flex-order: 0;

    order: 0;
}

.item-actions {
    position: absolute;
    left: 0;
    right: 0;
    top: 175px;

    margin: 0 auto;

    text-align: center;

    visibility: hidden;
}

.catalog-item:hover .item-photo {
    z-index: -1;

    opacity: 0.5;
}

.catalog-item:hover .item-actions {
    visibility: visible;
}

.item-compare {
    font: inherit;
    font-size: 13px;
    line-height: 36px;
    color: black;

    opacity: 0.5;
}

.item-compare:hover,
.item-compare:focus {
    opacity: 1;
}

.item-compare:active {
    opacity: 0.2;
}

/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    min-height: 70px;
    margin-top: -11px;

    background-color: #ebebeb;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 35px;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}

.pagination-item {
    margin-right: 20px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    padding: 2px 5px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 900;
    color: black;
    letter-spacing: 0.2em;

    opacity: 0.3;
}

.pagination-item:not(.pagination-item-current) a:hover,
.pagination-item:not(.pagination-item-current) a:focus {
    opacity: 0.6;
}

.pagination-item-current a,
.pagination-item:not(.pagination-item-current) a:active {
    opacity: 1;
}

.pagination-btn {
    position: absolute;
    top: 0;

    height: 70px;
    padding: 10px 25px;

    -webkit-transition: 0.1s linear background-color;

    -o-transition: 0.1s linear background-color;

    transition: 0.1s linear background-color;
}

.pagination-btn::before {
    display: none;
}

.pagination-btn-prev {
    left: 0;
}

.pagination-btn-next {
    right: 0;
}

.pagination-btn:hover,
.pagination-btn:focus {
    background-color: #d9d9d9;
}